body{
	background-color: #dcdcdc;
}

.container{
	width: 90%;
	margin: 0 auto;
}

header{
	margin-top: 100px;
}

.demo{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-wrap: wrap;
}

.demo .item{
	width: 300px;
	height: 150px;
	margin-left: 20px;
	margin-bottom: 20px;
	text-align: center;
	opacity: 0.7;
	transition: opacity 500ms;
}

.item:hover{
	opacity:0.5;
}

.item a{
	color: #ffffff;
	font-size: 1.65em;
	transition: font-size 500ms;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 150px;
}

.item a:hover{
	font-size:1.8em;
	color: #dddddd;
}


.blog{
	background-color: #006600;
}
.github{
	background-color: #669933;
}
.love{
	background-color: #CCCC33;
}
.resume{
	background-color: #999999;
}
.about{
	background-color: #006633;
}
.share{
	background-color: #666633;
}
